
@{
    ViewBag.Title = "cargarUsuario";
}

<h2>NUEVO CLIENTE</h2><br/>
<h2>NUEVO CLIENTE</h2><br />


<form id="" action="" method="get" >
    <div style="display:none">
       <input  name="" value="utf-8" type="hidden"/> 
    </div>
    <div style="display:none">
       <input name="" value="utf-8" type="hidden" />
    </div>


</form>