@{
    ViewBag.Title = "    CONTACTENOS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   En BAR SAN ANTONIO trabajamos para nuestros clientes y amigos. Cuanquier consulta duda o comentario que tengas no dudes en escribirnos. Esperamos tus sujerencias y comentarios.

</address>

<address>
    <strong>BAR SAN ANTONIO:</strong>   <a href="Barsanantonio@hotmail.com">Barsanantonio@hotmail.com</a><br />
    <strong>PREGUNTAS :</strong> <a href="yorespondo@hotmail.com">yorespondo@hotmail.com</a><br />
    <strong>NUESTRO HORARIOS :  Lunes a viernes de 11:00 a 15:00 y de 18:00 a 23:00</strong><br />

</address>