
@{
    ViewBag.Title = "guarnicion";
}

<h2>Guarnicion</h2>
<body>
    <div align="center">
        <img src="~/Content/imagenes/pescadohierbas.jpg" width="1025" height="250" /><br />
    </div>


    <div class="col-md-11" aling="center">
        <button class="btn btn-lg btn-block btn-default"> Papas Fritas </button>
        <button class="btn btn-lg btn-block btn-default"> Pure de papas </button>
        <button class="btn btn-lg btn-block btn-default"> Pure calabaza </button>
        <button class="btn btn-lg btn-block btn-default"> Pure mixto </button>
        <button class="btn btn-lg btn-block btn-default"> Arroz con finas hierbas </button>
        <button class="btn btn-lg btn-block btn-default"> Ensalada tres sabores </button>
        <button class="btn btn-lg btn-block btn-default"> Adicionales </button>


    </div><br />
    <div class="col-md-6" aling="center">
        <button class="btn btn-lg btn-success" href="home/lacarta.cshtml"> ACEPTAR @Html.ActionLink("ACEPTAR", "laCarta", "Home")</button>
    </div>
</body>