@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>  BAR SAN ANTONIO </h1>
    <p class="lead"> COMIDAS HECHAS CON AMOR</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<body>


    <button>
        <img src="~/Content/imagenes/carnehorno.jpg" width="350" height="350 " alt="5">
        <a class="boton_personalizado1" href="~/home/laCarta"</a>
    </button>


    <button>
        <br>
        Plato del Dia
        <br>
        <img src="~/Content/imagenes/carnehorno.jpg" width="261" height="350 " alt="">
        <a class="boton_personalizado2" href="lo que va a traer">  La Carta </a>
    </button>

    
  
    <style type="text/css">
        .boton_personaliza {
            text-decoration: none;
            padding: 10px;
            font-weighy: 600;
            font-size: 20 px;
            color: #ffffff;
            background-color: #1883ba;
            border: 2px solid#0016b0;
        }

            .boton_personaliza:hover {
                color: #1883ba;
                background-color: #ffffff;
            }
    </style>

</body>